<!-- <header class="container-fluid ">
    <div class="container d-flex p-4  ">
        <div>
        <a href="#" routerLink="/" class="text-white  logo">SC <span><i class="fi fi-sr-hamburger-soda"></i></span> Food Corner</a>
        </div>
        <div class="cart">        
            <a href="#" class="text-white">Cart</a>
            <div class="bubble">
                <p>10</p>
            </div>
        </div>
    </div>
</header> -->

<header class="container-fluid">
  <div class="container">
    <div class="logo">
      <a href="#" routerLink="/" class="text-white a"
        ><img src="../../../assets/logo2-dark.jpg" alt="" width="200px"
      /></a>
    </div>
    <div class="links">
      <div class="home"><a href="">Home</a></div>
      <div class="contact"><a href="#">Contact</a></div>
      <div class="service"><a href="#">Service</a></div>
      <div class="cart">
        <a href="#" class="text-white">Cart</a>
        <div class="bubble">
          <p>0</p>
        </div>
      </div>
    </div>
  </div>
</header>
