@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css");
@import url("https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  background: url("./assets/imgf-dark.png");
  /* background-size: contain; */
}

a {
  text-decoration: none;
}
